.splash {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.splash p {
  margin-bottom: 30px;
  pointer-events: none;
  font-size: 1.5em;
  letter-spacing: .2em;
}

@media (min-width: 768px) {
  .splash p  {
    margin-bottom: 40px;
  }
}

#play-button {
  margin-bottom: 20px;
}

#play-button i {
  color: var(--highlight-color);
  font-size: 10em;
}
#play-button:hover i {
  color: var(--contrast-color);
}

#game-settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#play-button i:hover {
  color: var(--contrast-color);
}


#game-settings button:focus {
  outline: none;
}

#sound {
  width: 40px;
  margin: 0 auto;
  color: var(--highlight-color);
}


@media (min-width: 768px) {
  #sound {
    width: 60px;
  }
}

#sound:hover {
  color: var(--contrast-color);
}

#sound-off {
  display: none;
}

#game-info {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #game-info{
    max-width: 300px;
  }
}
#game-info button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 1em;
}
#game-info .info-closed {
  background-color: var(--highlight-color);
  color: var(--main-font-color-color)
}

#game-info .info-open {
  background-color: var(--secondary-font-color);
  color: var(--main-font-color);
}

#instructions {
  display: none;
  background-color: var(--main-font-color);
  padding: 8px;
  margin-top: -2px;

}
#instructions p {
  font-size: 1em;
  color: var(--secondary-font-color);
  letter-spacing: normal;
  text-align: justify;
}